cover_letter/cover_letter.aux
cover_letter/cover_letter.aux
cover_letter/cover_letter.fdb_latexmk
cover_letter/cover_letter.fls
cover_letter/cover_letter.log
cover_letter/cover_letter.out
cover_letter/cover_letter.synctex.gz

resume.aux
resume.fdb_latexmk
resume.fls
resume.log
resume.out
resume.synctex.gz
macros.tex
